@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* color palette 
  light background: #AFC2D5
  dark background: #0A1128
  neutral: #716969
  text: #DFEFCA
  highlight: #FFF9A5
*/
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  /* background-color: #AFC2D5; */
}

.container {
  background-color: #AFC2D5;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}